---
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro'
import ModelY from '../components/ModelY.astro'
---

<Layout title="Tesla landing">
	<LandingHeader />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		
		<div class="snap-center">
			<HeroSection/>
		</div>
		
		<div class="snap-center">
			<ModelY/>
		</div>
		
		<div class="snap-center">
			<HeroSection/>
		</div>
		
		<div class="snap-center">
			<ModelY/>
		</div>
	
	</main>
</Layout>
